body::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.q4_etron_headlight_scroll_wraper {
    height: 300vh;
    position: relative;
}

.q4_etron_headlight_cover_wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

/* .pin-spacer {
    position: sticky !important;
    top: 0;
} */

.q4_etron_headlight_description{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #fff;
}
.q4_etron_headlight_description-div{
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    font-family: "audi-wide-bold","audi-zh-bold";
    line-height: 48px;
}
.q4_etron_headlight_description-p{
    font-size: 16px;
    letter-spacing: .5px;
    max-width: 100%;
    line-height: 24px;
    margin: 0 0 32px 0;
    line-height: 24px;
}
.q4_etron_headlight_cover-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: bottom center;
}
@media only screen and (min-width: 375px) and (max-width:768px) {
    .q4_etron_headlight_description{
        padding: 120px 0;
        width: 80%;
        left: 10%;
        /* text-align: center; */
    }
    .q4_etron_headlight_description-div{
        font-size: 24px;
        line-height: 32px;
    }
    .q4_etron_headlight_description-p{
        font-size: 14px;
    }
    .q4_etron_headlight_cover-bg {
        transform: scale(1);
    }
}
@media only screen and (min-width: 768px) {
    .q4_etron_headlight_description{
        padding: 5% 0;
        width: 378px;
        left: 20%;
        text-align: left;
    }
    .q4_etron_headlight_cover-bg {
        transform: scale(.7);
    }
}
