img{
    border: none;
}
html body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.homepage-model{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
.homepage-model .model-selection{
    position: absolute;
    margin: 0 auto 0;
    z-index: 2;
    top: 50%; /* 从顶部边界向下移动自身高度的一半 */
    left: 10%; /* 从左侧边界向右移动自身宽度的一半 */
    transform: translate(0, -50%); /* 通过负百分比调整元素的位置 */
}
.homepage-model .model-selection .item{
    color: rgba(255, 255, 255, 0.50);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}
.homepage-model .model-selection .active{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 35px;
}
.homepage-model .tab-box{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.homepage-model .car{
    width: 300px;
    position: absolute;
}
.homepage-model .bg{
    width: 100vw;
    height: 100vh;
}
.homepage-model .btn{
    width: 156px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    position: absolute;
    bottom: 112px;
    left: 0;
    right: 0;
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.homepage-model .content .bg > img, .homepage-model .content .car > img{ opacity: 0; }
.homepage-model .content .bg > .active, .homepage-model .content .car > .active{ opacity: 1; }
.homepage-model .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homepage-model .content .mobile{
    display: none;
}
.homepage-model .content .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.homepage-model .content .bg img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homepage-model .content .car {
    position: absolute;
    bottom: 4vw;
    right: 14vw;
    width: 60vw;
    object-fit: cover;
}
.homepage-model .content .car img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 375px) and (max-width:767px) {
    .homepage-model .model-selection{
        display: flex;
        top: 92px;
        display: inline-flex;
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        transform: translate(0);
        left: 0;
    }
    .homepage-model .model-selection::-webkit-scrollbar {
        height: 0;
    }
    .homepage-model .model-selection .item{
        font-size: 20px;
        margin-right: 16px;
        display: inline-block;
    }
    
    .homepage-model .model-selection .item:first-child{
        margin-left: 30px;
    }
    .homepage-model .model-selection .item:last-child{
        margin-right: 20px;
    }
    .homepage-model .model-selection .active{
        font-size: 20px;
        position: relative;
    }
    .homepage-model .model-selection .active:after{
        content: '';
        background: #fff;
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        height: 2px;
        width: 22px;
    }
    .homepage-model .content .pc{
        display: none;
    }
    .homepage-model .content .mobile{
        display: block;
    }
    .homepage-model .content .car {
        bottom: initial;
        top: 76%;
        right: 0vw;
        left: 0;
        margin: auto;
        width: 104vw;
    }
    .homepage-model .btn{
        font-size: 14px;
        bottom: 108px;
    }
}
@media only screen and (min-width: 768px) and (max-width:820px) {
    .homepage-model .model-selection{
        top: 30%; /* 从顶部边界向下移动自身高度的一半 */
    }
    .homepage-model .content .car {
        bottom: 30vw;
        width: 70vw;
    }
}
@media only screen and (min-width: 821px) and (max-width:1180px) {
    .homepage-model .content .car {
        bottom: 11vw;
        width: 64vw;
    }
}
@media only screen and (min-width: 821px) and (max-width:1180px) and (min-height: 821px) and (max-height:1366px) {
    .homepage-model .model-selection{
        top: 30%; /* 从顶部边界向下移动自身高度的一半 */
    }
    .homepage-model .content .car {
        bottom: 32vw;
        width: 70vw;
    }
}
@media only screen and (min-width: 1181px) and (max-width:1200px) {
    .homepage-model .model-selection{
        top: 30%; /* 从顶部边界向下移动自身高度的一半 */
    }
    .homepage-model .content .car {
        bottom: 32vw;
        width: 70vw;
    }
}
@media only screen and (min-width: 1201px) and (max-width:1366px) {
    .homepage-model .content .car {
        bottom: 13vw;
        width: 68vw;
    }
}