body::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.section3 {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: black;
    color: #fff;
    height: 400vh;
    position: relative;
    overflow: hidden;
}

.section3 .section_cover_wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.section3 .section_cover-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: bottom center;
}

.section3 .section_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.section3 .section_description{
    position: absolute;
    top: 108px;
    left: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #fff;
}
.section3 .section_description-div{
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    font-family: "audi-wide-bold","audi-zh-bold";
    line-height: 48px;
}
.section3 .section_description-p{
    font-size: 16px;
    letter-spacing: .5px;
    max-width: 100%;
    line-height: 24px;
    margin: 0 0 32px 0;
    line-height: 24px;
}
@media only screen and (max-width:768px) {
    .section3 {
        height: 200vh;
    }
    .section3 .section_description{
        /* width: 80%; */
        top: 88px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .section3 .section_description-div{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .section3 .section_description-p{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .section3 .section_cover-bg {
        transform: scale(1);
    }
}
@media only screen and (min-width: 768px) {
    .section3 .section_mask {
        opacity: 0;
        background: rgba(0, 0, 0, .4);
    }
    .section3 .section_description{
        /* width: 378px; */
        text-align: left;
    }
}

@media (min-width: 820px) {
    .section3 .section_description{
        top: 188px;
    }
}
@media (min-width: 1024px) {
    .section3 .section_description{
        top: 128px;
    }
}
@media (min-width: 1194px) {
    .section3 .section_description{
        top: 80px;
    }
}
@media (min-width: 1440px) {
    .section3 .section_description{
        top: 80px;
        left: 76px;
    }
}
@media (min-width: 1920px) {
    .section3 .section_description{
        top: 168px;
        left: 96px;
    }
}